<!DOCTYPE HTML>
<!--suppress SpellCheckingInspection -->
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Перпод.ру</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link th:href="@{/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/select2.min.css}" rel="stylesheet"/>
    <script th:src="@{/jquery-3.5.1.slim.min.js}"></script>
    <script th:src="@{/popper.min.js}"></script>
    <script th:src="@{/bootstrap.min.js}"></script>
    <script th:src="@{/select2.min.js}"></script>
    <script>$(document).ready(function () {
        $('.js-example-basic-single').select2({
            minimumInputLength: 3,
            maximumSelectionLength: 10,
            placeholder: {
                id: '-1',
                text: 'Поиск преподавателя'
            }
        });
    });</script>
</head>
<body>
<header th:insert="blocks/header"></header>
<section th:fragment="front" class="jumbotron text-center">
    <div class="container">
        <h1 th:text="${employer.name} + ' (' + ${employer.city} + ')'"></h1>
    </div>
</section>
<div class="album pb-5 bg-white">
    <div class="container">
        <div class="card mb-3">
            <select onchange="this.options[this.selectedIndex].value && (window.location = '/teacher/' + this.options[this.selectedIndex].value);"
                    class="js-example-basic-single" name="simple_select" id="simple_select">
                <option value="-1">Поиск преподавателя</option>
                <div th:each="sel: ${selects}">
                    <option th:onclick="" th:value="${sel.value}" th:text="${sel.text}"></option>
                </div>
            </select>
        </div>
        <div class="card mb-3">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Добавить преподавателя
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                <div class="card-body">
                    <form class="needs-validation" th:action="${'/employer/'+ employer.id +'/add'}" method="post">
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="lastName">Фамилия</label>
                                <input type="text" class="form-control" id="lastName" name="lastName"
                                       placeholder="Иванов" required>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="firstName">Имя</label>
                                <input type="text" class="form-control" id="firstName" name="firstName"
                                       placeholder="Иван" required>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="middleName">Отчество</label>
                                <input type="text" class="form-control" id="middleName" name="middleName"
                                       placeholder="Иванович">
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="imageUrl">Фото</label>
                                <input type="url" class="form-control" id="imageUrl" name="imageUrl" required
                                       placeholder="URL">
                            </div>
                        </div>
                        <button id="addButton" type="submit" class="btn btn-primary btn-lg btn-block">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div th:each="teacher: ${teachers}" class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <img style="object-fit:cover" width="100%" height="225" class="bd-placeholder-img card-img-top"
                             th:src="${teacher.imageUrl}"/>
                        <div class="card-body">
                            <p th:text="${teacher.lastName} + ' ' + ${teacher.firstName} + ' ' + ${teacher.middleName}"
                               class="card-text"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-outline-primary" th:href="'/teacher/' + ${teacher.id}"
                                       role="button">Читать</a>
                                </div>
                                <small th:text="'Отзывов: ' + ${teacher.reviews.size()}" class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <nav th:unless="${pageNumbers.isEmpty()}" aria-label="Navigation" class="mx-auto">
                <ul class="pagination">
                    <li th:class="${current <= 1} ? 'page-item disabled': 'page-item'">
                        <a class="page-link" th:href="'/employer/' + ${employer.id} + '?pageNum=' + ${current - 1}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <div th:each="pageNumber : ${pageNumbers}">
                        <li th:class="${current == pageNumber} ? 'page-item active': 'page-item'">
                            <a class="page-link" th:text="${pageNumber}"
                               th:href="'/employer/' + ${employer.id} + '?pageNum=' + ${pageNumber}"></a>
                        </li>
                    </div>
                    <li th:class="${current >= pageNumbers.size()} ? 'page-item disabled': 'page-item'">
                        <a class="page-link" th:href="'/employer/' + ${employer.id} + '?pageNum=' + ${current + 1}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<footer th:insert="blocks/footer"></footer>
</body>
</html>