<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Перпод.ру</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
</head>
<body>
<header th:insert="blocks/header"></header>
<div class="album pb-5 bg-white">
    <div class="container">
        <div class="card mb-3">
            <select onchange="this.options[this.selectedIndex].value && (window.location = '/employer/' + this.options[this.selectedIndex].value);"
                    class="js-example-basic-single" name="simple_select" id="simple_select">
                <option value="-1">Поиск ВУЗа</option>
                <div th:each="sel: ${selects}">
                    <option th:onclick="" th:value="${sel.value}" th:text="${sel.text}"></option>
                </div>
            </select>
        </div>
        <div class="card mb-3">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Добавить ВУЗ
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                <div class="card-body">
                    <form class="needs-validation" th:action="${'/add'}" method="post">
                        <div class="row">
                            <div class="col-md mb-3">
                                <label for="name">Название</label>
                                <input type="text" class="form-control" id="name" name="name"
                                       placeholder="НИЯУ МИФИ" required>
                            </div>
                            <div class="col-md mb-3">
                                <label for="city">Город</label>
                                <input type="text" class="form-control" id="city" name="city"
                                       placeholder="Москва" required>
                            </div>
                        </div>
                        <button id="addButton" type="submit" class="btn btn-primary btn-lg btn-block">Добавить
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div th:each="employer: ${employers}" class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <p th:text="${employer.name + ' (' + employer.city + ')'}" class="card-text"></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a th:href="${'/employer/' + employer.id}">
                                    <button type="button" class="btn btn-sm btn-outline-primary">Читать</button>
                                </a>
                            </div>
                            <small th:text="${'Преподавателей: ' + employer.teachers.size()}"
                                   class="text-muted"></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <nav th:unless="${pageNumbers.isEmpty()}" aria-label="Navigation" class="mx-auto">
                <ul class="pagination">
                    <li th:class="${current <= 1} ? 'page-item disabled': 'page-item'">
                        <a class="page-link" th:href="'/?pageNum=' + ${current - 1}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <div th:each="pageNumber : ${pageNumbers}">
                        <li th:class="${current == pageNumber} ? 'page-item active': 'page-item'">
                            <a class="page-link" th:text="${pageNumber}" th:href="'/?pageNum=' + ${pageNumber}"></a>
                        </li>
                    </div>
                    <li th:class="${current >= pageNumbers.size()} ? 'page-item disabled': 'page-item'">
                        <a class="page-link" th:href="'/?pageNum=' + ${current + 1}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<footer th:insert="blocks/footer"></footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>$(document).ready(function () {
    $('.js-example-basic-single').select2({
        minimumInputLength: 3,
        maximumSelectionLength: 10,
        placeholder: {
            id: '-1',
            text: 'Поиск ВУЗа'
        }
    });
});
</script>
</body>
</html>