<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:insert="head :: head"></head>
<body>
<header th:insert="header :: header"></header>
<div class="container mt-auto">
    <form action="/add" method="post">
        <div class="form-group">
            <label for="inputFirstName"></label>
            <input type="text" class="form-control" id="inputFirstName" name="firstName" placeholder="Имя">
            <label for="inputMiddleName"></label>
            <input type="text" class="form-control" id="inputMiddleName" name="middleName" placeholder="Отчество">
            <label for="inputLastName"></label>
            <input type="text" class="form-control" id="inputLastName" name="lastName" placeholder="Фамилия">
        </div>
        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
</div>
</body>
</html>