<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:fragment="head">
    <title>Перпод.ру</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Перпод.ру</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/rules">Правила</a>
        </nav>
        <a class="btn btn-outline-primary" href="/">Домой</a>
    </div>
</div>
<section class="jumbotron text-center" th:fragment="face">
    <div class="container">
        <h1>
            <span th:text="${teacher.lastName + ' ' + teacher.firstName + ' ' + teacher.middleName+ ' '}"></span>
            <span th:if="${rating<1 || rating > 5}" th:text="${rating}" class="badge badge-info"></span>
            <span th:if="${rating>=1 && rating <3}" th:text="${rating}" class="badge badge-danger"></span>
            <span th:if="${rating>=3 && rating <4}" th:text="${rating}" class="badge badge-warning"></span>
            <span th:if="${rating>=4 && rating <=5}" th:text="${rating}" class="badge badge-success"></span>
        </h1>
        <h3 th:each="temp: ${teacher.employers}">
            <span th:text="${temp.name + ' ('+temp.city+')'}" class="badge badge-secondary"></span>
        </h3>
    </div>
</section>
<div class="album pb-5 bg-white">
    <div class="container">
        <form class="needs-validation" th:action="${'/teacher/'+teacher.id+'/add'}" method="post">
            <h3 class="mb-3">Форма добавления нового отзыва</h3>
            <div class="col-lg mb-3">
                <label for="text">Текст</label>
                <textarea type="text" class="form-control" id="text" name="text" placeholder="Тело отзыва"></textarea>
            </div>
            <div class="row">
                <div class="col-md mb-3">
                    <label for="course">Предмет</label>
                    <input type="text" class="form-control" id="course" name="course" placeholder="Высшая математика"
                           required>
                </div>
                <div class="col-md mb-3">
                    <label for="mark">Оценка</label>
                    <select class="form-control" id="mark" name="mark">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <button id="addButton" type="submit" class="btn btn-primary btn-lg btn-block">Добавить</button>
            <hr class="mb-4">
        </form>
        <div class="row">
            <div th:each="r: ${reviews}" class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10"><p th:text="${r.text}" class="card-text"></p></div>
                            <div class="col pl-0 text-center">
                                <h1>
                                    <span th:if="${r.mark.ordinal()<1 || r.mark.ordinal() > 5}"
                                          th:text="${r.mark.ordinal() + 1}" class="badge badge-info"></span>
                                    <span th:if="${r.mark.ordinal()>=1 && r.mark.ordinal() <3}"
                                          th:text="${r.mark.ordinal() + 1}" class="badge badge-danger"></span>
                                    <span th:if="${r.mark.ordinal()>=3 && r.mark.ordinal() <4}"
                                          th:text="${r.mark.ordinal() + 1}" class="badge badge-warning"></span>
                                    <span th:if="${r.mark.ordinal()>=4 && r.mark.ordinal() <=5}"
                                          th:text="${r.mark.ordinal() + 1}" class="badge badge-success"></span>
                                </h1>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <small th:text="'Опубликовано: ' + ${r.reviewDate}" class="text-muted"></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>